{% extends "base.html" %}
{% block content %}
    <div id='mainbar'></div>
    <style>
        #mainbar {
            padding: 15px;
            width: 85%;
        }
        .title {
            padding: 10px;
            font-weight: bold;
            font-family: sans-serif;
            font-size: 20px;
            color: #f6f5f1;
        }
        .books_wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .books_cont {
            width: 250px;
            margin: 10px;
            height: max-content;
            cursor: default;
            background: #f1f1f1;
            border-radius: 15px;
        }
        .book_main {
            color: #303237;
            box-sizing: border-box;
            padding: 10px;
        }
        .book_brick {
            color: #fff;
            background-color: #50a2ab;
            box-sizing: border-box;
            padding: 15px;
            font-family: sans-serif;
            border-radius: 15px;
        }
        .book_title {
            padding-bottom: 10px;
            color: #064559;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: bolder;
        }
        .book_item {
            padding-bottom: 5px;
            color: #064559;
            font-family: sans-serif;
            font-size: 14px;
        }
        .book_item:first-child {
            font-weight: bold;
            padding-bottom: 10px;
        }
        .no_stock,
        .expired {
            font-family: sans-serif;
            font-size: 16px;
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }
        .expired {
            text-align: left;
        }
        .book_info {
            font-family: sans-serif;
            font-size: 14px;
        }
        #my_order,
        #my_balance {
            font-weight: bold;
        }
        .add_to_cart {
            display: none;
            width: 100px;
            margin: 10px auto;
            background: #3e967d;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: #ced3d6;
            cursor: pointer;
            border: 1px solid;
        }
        .add_to_cart:hover {
            background: #f9f9f9;
            color: #3e967d;
        }
        .books_cont:hover .add_to_cart {
            display: block;
        }
    </style>
    <script>
        sessionStorage.setItem('user_id', '{{user_id}}')
        const limit = 15,
            offset=0
        const add_book_to_cart = (book_id, Btn_el) => {
            let user_id = sessionStorage.getItem('user_id')
            let form = new FormData()
            let msgEl = document.getElementById('message_content')
            msgEl.style="transform: translate(0px, -100px); opacity: 0; margin: auto;"
            form.append('user_id', user_id)
            form.append('book_id', book_id)
            fetch('/order/add', {
                method: 'POST',
                body: form,
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            })
            .then(data => data.json())
            .then(resp => {
                if(resp && resp.status && resp.status.toLowerCase() === 'success') {
                    msgEl.innerText = 'Successfully added the book to order'
                    Btn_el.style="opacity:.5; pointer-events: none;"
                    setTimeout(() => {
                        msgEl.style="transform: translate(0px, -100px); opacity: 0; margin: auto;"
                    }, 5000)
                }
                else if(resp && resp.message && resp.message.trim().length) {
                    msgEl.innerText = resp.message
                }
                msgEl.style="transform: translate(0px, 0px); opacity:1; margin: 15px auto;"
            })
            .catch(err => console.log(err))
        }
        const DOMNode = document.createElement('div')
        DOMNode.classList.add('books_wrapper')
        fetch('/books/get?limit=' + limit + '&offset=' + offset + '&user_id={{user_id}}')
        .then (data => data.json())
        .then(resp => {
            if(resp && resp.status && resp.status.toLowerCase() === 'success' && resp.data && resp.data.length) {
                resp.data.map(node => {
                    let authorEl = document.createElement('div')
                    authorEl.classList.add('book_item')
                    authorEl.innerHTML=`by <b>${node.author || ''}</b>`
                    let desc_el = document.createElement('div')
                    desc_el.classList.add('book_item')
                    desc_el.innerText=node.description || ''
                    let Btn_el = document.createElement('div')
                    let book_info_el = document.createElement('div')
                    let Cart_el = document.createElement('div');
                    if(node.user_bought) {
                        if(node.is_expired) {
                            Btn_el.innerText='Subsciption is Expired!!!'
                            Btn_el.classList.add('expired')
                        }
                        else {
                            book_info_el.innerHTML=`Subscribed till: <b>${node.expiry_date ? new Date(node.expiry_date).toLocaleDateString() : ''}</b>`
                            book_info_el.classList.add('book_info')
                            book_info_el.style="display: block;"
                        }
                    }
                    else if(node.stock_left === 0) {
                        Btn_el.classList.add('no_stock')
                        Btn_el.innerText='Out Of Stock'
                    }
                    else {
                        book_info_el.innerHTML=`<b>${node.stock_left}</b> items left`
                        book_info_el.classList.add('book_info')
                        Cart_el.innerText='Add to Cart'
                        Cart_el.classList.add('add_to_cart')
                        Cart_el.addEventListener('click', () => {
                            add_book_to_cart(node.id, Btn_el)
                        })
                    }
                    let MainEl = document.createElement('div')
                    MainEl.classList.add('book_main')
                    let title_el = document.createElement('div')
                    title_el.classList.add('book_title')
                    title_el.innerText = node.title || ''
                    let ContainerEl = document.createElement('div')
                    ContainerEl.classList.add('books_cont')
                    let BrickEl = document.createElement('div')
                    BrickEl.classList.add('book_brick')
                    MainEl.append(
                        title_el,
                        authorEl,
                        desc_el,
                        Cart_el
                    )
                    BrickEl.append(
                        Btn_el,
                        book_info_el
                    )
                    ContainerEl.append(
                        MainEl,
                        BrickEl
                    )
                    DOMNode.append(ContainerEl)
                })
                let title_el = document.createElement('div')
                title_el.innerText='Books in Store'
                title_el.classList.add('title')
                const MessageEl = document.createElement('div')
                MessageEl.id = 'message_content';
                document.getElementById('mainbar').append(title_el)
                document.getElementById('mainbar').append(MessageEl)
                document.getElementById('mainbar').append(DOMNode)
            }
        })
    </script>
{% endblock %}