<div class='home_wrapper'>
    {% if is_authenticated %}
        <div class='user'>Welcome, {{user}}</div>
        <a class='home_link' href='\logout'>Logout</a>
    {% else %}
        <a class='home_link' href='\login'>Login</a>
        <a class='home_link' href='\signup'>Sign Up</a>
    {% endif %}
</div>
<style>
    .user {
        color: #fff;
    }
    .home_wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin: auto;
        background-color: #303237;
        padding: 5px;
        border-bottom: 1px solid #f1f1f2;
    }
    .home_link {
        text-decoration: none;
        color: #303237;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #303237;
        margin-left: 10px;
        border-radius: 5px;
    }
    .home_link:hover {
        color: #fff;
        border: 1px solid #f1f1f2;
        background-color: #303237;
    }
</style>